/* começo de css de hardware */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
    background-color: black;
    background-size: cover;
    height: auto;
    width: auto;      
}

#txt1 {
    padding-top: 10px;
    color: rgb(57, 181, 185);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Asap', sans-serif;
    font-weight: 100;
    font-size: 50pt;
    font-family: 'Playfair Display', serif;
}

#txt2 {
    padding-top: 2px;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Asap', sans-serif;
    font-size: 25pt;
    font-family: 'Playfair Display', serif;
}

.grid {
    display: block;
    padding: 15px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.col {
    text-align: center;
    border:solid rgb(37, 34, 37);
    background-color: black;
    margin-bottom: 16px;
    margin-left: 50px;
    padding: 16px;
    color: snow;
    width: 400px;
    height: 500px;
    
}

.col img {
    width: 300px;
    height: auto;
}
.col p{
    text-decoration: none;
}

#txt_auxiliar {
    margin-top: 50px;
    text-align: center;
}

#ssd{
    margin-left: 2.5em;
    margin-top: 5em;
}

h4{
    color: green;
}

.a{
    display: flex;
    width: 200px;
    justify-content: center;
    height: 50px;
    color: aliceblue;
    background-color: darkgreen;
    text-align:start;
    padding: 15px;
    font-size: larger;
    text-decoration: none;
    gap: 100px;
    border-radius: 25px;
}
/* 
a{
    text-decoration: none;
    background-color: rgb(12, 5, 110);
    color: rgb(236, 236, 236);
    border-radius: 40%;
    border: 1px;
    padding: 6x;
} */
/* final da parte de harware */
