*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
/* CABEÇALHO */
header{
    /* border: 3px solid black; */
    display: flex;
    height: 10vh;
    width: 100%;
    /* background: black; */
    justify-content: space-between;
}
.logo{
    margin-left: 8vw;
    padding-top: 10px;
    display: flex;
    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
    width: 10%;
}
.logo img{
    height: 100px;
    width: 100px;
}
.headBtns{
    margin-right: 8vw;
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    
}

.headBtns a{
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    /* color: white; */
    margin-right: 3vw;
    /* border: 2px dotted black; */
    padding: 15px;
}
.divBusca{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    border:solid 1px;
    border-radius:5px;
    width:300px;
}
#txtBusca{
    background-color:transparent;
    padding: 10px 15px;
    font-size:18px;
    text-align: center;
    border:none;
    height:35px;
    width:260px;
}
::placeholder{
    font-weight: bold;
    color: black;
}
/* BARRA DE NAVEGAÇÃO */
nav{
    /* margin-top: 10px; */
    box-shadow: 0 0 2px 2px white;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    /* border: 1px solid black; */
    padding: 5px;

}

/* PRINCIPAL */
main{
    /* background: white; */
    margin-top: 5px;
    border: 2px solid rgb(226, 17, 174);
    display: flex;
    height: 75vh;
    width: 100%;
}
.gabinete{
    display: flex;
    text-align: center;
    width: 40%;
    border: 1px solid yellow;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;

}
.previa{
    display: flex;
    text-align: center;
    width: 40%;
    border: 1px solid rgb(20, 219, 86);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
/* RODAPÉ */
footer{
    /* padding: 25px; */
    /* margin-top: 20px; */
    color: white;
    display: flex;
    flex-flow: row nowrap;
    /* border: 1px double white; */
    width: 100%;
    height: auto;
}
.rp1{
    margin-left: 4vw;
    display: flex;
    height: 25vh;
    flex: 25%;
    justify-content: flex-start;
    align-items: flex-start;
}
.rp2, .rp3, .rp4{
    margin-top: 12vh;
    margin-right: 4vw;
    height: 15vh;
    text-align: justify;
    padding: 20px;
    /* border: 1px dotted white; */
    flex: 25%;  
}

H4{
    color: #72386a;
    padding: 3px;
}
footer a{
    color: white;
    padding: 3px;
}
.cr{
    margin-top: 30px;
    color: white;
    text-align: center;
}
.cr a{
    color: #72386a;
}
/* ======================================================================================================================= */
