*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CABEÇALHO */
header{
    border: 3px solid black;
    display: flex;
    height: 12vh;
    width: 100%;
    justify-content: space-between;
}
.logo{
    margin-left: 25vh;
    display: flex;
    border: 2px solid green;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25vh;
}
.headBtns{
    margin-right: 25vh;
    display: flex;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
}
.headBtns a{
    text-decoration: none;
    margin-right: 10vh;
    border: 2px dotted black;
    padding: 15px;
}
/* BARRA DE NAVEGAÇÃO */
nav{
    margin-top: 10px;
    border: 3px solid black;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;

}
/* PRINCIPAL */
main{
    margin-top: 10px;
    border: 2px solid rgb(226, 17, 174);
    display: flex;
    height: 75vh;
    width: 100%;
}
.gabinete{
    display: flex;
    text-align: center;
    width: 40%;
    border: 1px solid yellow;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;

}
.previa{
    display: flex;
    text-align: center;
    width: 40%;
    border: 1px solid rgb(20, 219, 86);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
/* RODAPÉ */
footer{
    margin-top: 20px;
    border: 2px double black;
    width: 100%;
    height: 10vh;
}
/* ======================================================================================================================= */
