*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
/* CABEÇALHO */
header{
    /* border: 3px solid black; */
    display: flex;
    height: 12vh;
    width: 100%;
    /* background: black; */
    justify-content: space-between;
}
.logo{
    margin-left: 8vw;
    padding-top: 10px;
    display: flex;
    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
    width: 10%;
}
.logo img{
    height: 130px;
    width: 130px;
}
.headBtns{
    /* margin-right: 8vw; */
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    
}

.headBtns a{
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    /* color: white; */
    /* margin-right: 3vw; */
    /* border: 2px dotted black; */
    padding: 10px;
   
}
.divBusca{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    border:solid 1px;
    border-radius:5px;
    width:300px;
   
}
#txtBusca{
    background-color:transparent;
    padding: 10px 15px;
    font-size:15px;
    text-align: left;
    border:none;
    height:35px;
    width:260px;
}
::placeholder{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.266);
}

/* BARRA DE NAVEGAÇÃO */
nav{
    /* margin-top: 10px; */
    box-shadow: 0 0 2px 2px white;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    /* border: 1px solid black; */
    padding: 6px;
    font-family: "montserrat", sans-serif;

}

nav a:hover{
    color:#BF25B6;
}
/* PRINCIPAL */
.title{
    margin-top: 40px;
    /* border: 2px dotted gray; */
}
h1{
    font-size: 35pt;
    text-align: center;
    color: #BF25B6;
}
main{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 90vh;
    width: 100%;
    /* border: 2px solid rgb(226, 17, 174); */
}
.rufus, .lupus, .simensis{
    margin-top: 5vh;
    margin-bottom: 5vh;
    /* border: 2px solid blue; */
     box-shadow: 0 0 10px 5px #000000;
    
    height: 120vh;
    width: 30%;
    text-align: center;
    background: black;
    color: white;
}

.rufus img{
    width: 100%;
    height: auto;
}

.simensis img{
    width: 100%;
    height: auto;
}
.lupus img{
    width: 100%;
    height: auto;
}
.rufus{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.simensis{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.lupus{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.textsime{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 85%;
}
.lupus, .textsime, .preco1{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.simensis, .textsime, .preco2{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.rufus, .textsime, .preco3{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.preco3{
    padding: 53px;
    gap: 15px;
    font-size: larger;
}
.preco2{
    padding: 58px;
    font-size: larger;
    gap: 15px;
}
.preco1{
    padding: 50px;
    font-size: larger;
    gap: 15px;
}
/* botão-comprar */
.preco1 a{
    display: flex;
    width: 200px;
    justify-content: center;
    height: 50px;
    color: aliceblue;
    background-color: darkgreen;
    text-align:start;
    padding: 15px;
    font-size: larger;
    text-decoration: none;
    gap: 100px;
    border-radius: 25px;
    
    }
.preco2 a{
    display: flex;
    width: 200px;
    justify-content: center;
    height: 50px;
    color: aliceblue;
    background-color: darkgreen;
    text-align:start;
    padding: 15px;
    font-size: larger;
    text-decoration: none;
    gap: 100px;
    border-radius: 25px;    
        }
.preco3 a{
    display: flex;
    width: 200px;
    justify-content: center;
    height: 50px;
    color: aliceblue;
    background-color:darkgreen;
    text-align:start;
    padding: 15px;
    font-size: larger;
    text-decoration: none;
    gap: 100px;
    border-radius: 25px;       
            }

/*preço */
.preco-mais{
    color: red;
    font-size: 16px;

}
.preco-menos{
    color: limegreen;
    font-size: 25px;
    
}
.preconunber{
    gap: 15px;
}

/* Hardware */
.all{
    margin-left: 1vw;
    margin-top: 20%;
}
#txt1 {
    font-size: 35pt;
    text-align: center;
    color: #BF25B6;
}
#txt2 {
    padding-top: 2px;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Asap', sans-serif;
    font-size: 25pt;
    font-family: 'Playfair Display', serif;
}

.grid {
    display: flex;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.col {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end ;
    text-align: center;
    /* box-shadow: white 0px 3px 8px; */
    margin-top: 30px;
    border: gray 1px solid;
    padding: 8%;
    color: white;
    width: 400px;
    height: auto;   
}
.btnH{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col a{
    width: 130px;
    height: 50px;
    color: white;
    background-color: darkgreen;
    padding: 15px;
    font-size: larger;
    text-decoration: none;
    border-radius: 25px;
}
.col img {
    text-align: center;
    width: 300px;
    height: auto;
}
.col p{
    text-decoration: none;
    text-align: center;
}


#txt_auxiliar {
    /* margin-top: 50px; */
    text-align: center;
}

#ssd{
    margin-bottom: 50px;
}

h4{
    color: green;
}


.compre_ja a{
    display: flex;
    width: 200px;
    justify-content: center;
    height: 50px;
    color: aliceblue;
    background-color: darkgreen;
    text-align:start;
    padding: 15px;
    font-size: larger;
    text-decoration: none;
    gap: 100px;
    border-radius: 25px;
}
/* final da parte de harware */

/* RODAPÉ */
footer{
    /* padding: ; */
    /* margin-top: 20px; */
    color: white;
    display: flex;
    flex-flow: row nowrap;
    /* border: 1px double white; */
    width: 100%;
    height: auto;
}
.rp1{
    margin-left: 4vw;
    display: flex;
    height: 25vh;
    flex: 25%;
    justify-content: flex-start;
    align-items: flex-start;
}
.rp2, .rp3, .rp4{
    margin-top: 12vh;
    margin-right: 4vw;
    height: 15vh;
    text-align: justify;
    padding: 20px;
    /* border: 1px dotted white; */
    flex: 25%;  
}

H4{
    margin-bottom: 5%;
    color: #72386a;
    padding: 3px;
}
footer a{
    color: white;
    padding: 3px;
}
.cr{
    margin-top: 30px;
    color: white;
    text-align: center;
}
.cr a{
    color: #72386a;
}
/* ================================================================================ */